1. What is UART protocol ?
A set of rules and regulations is called a protocol. 
UART stands for a Universal Asynchronous Receiver and Transmitter. 
UART Protocols is a serial communication with two wired protocols.
The data cable signal lines are labelled as Rx and Tx.
Serial communication is commonly used for transmitting and receiving the signal.
It transfers and receives the data serially bit by bit without class pulses.



2. What Is the Frame Format of UART Protocol?
UART is a half-duplex protocol.
Half duplex means transferring and receiving the data but not at the same time.
The transmitter receives the 8-bit data from input and stores in some register.
The transmitter then adds some special bits like start bit, stop bit and parity bit(if selected) to make the complete data frame.
The data frame then sent out serially by the transmitter at the predefined clock rate (baud rate).
The receiver is by default at high logic state which indicates idle state of receiver and keeps looking for the high to low transition i.e. start bit.
As soon as the start bit is detected, the receiver observe the start bit for 50% of the receiving baud rate;
If it is the receiver start sampling other data bits at the middle of each bit otherwise receiver set flag for framing error.
After detecting the 8 bit data, the receiver then looks for the parity bit which is generated by the transmitter for the single bit error detection.
If the parity bit is detected properly, the receiver looks for the stop bit to stop the reception of data.
After the successful detection of stop bit the receiver line goes high logic state to indicate idle state and start looking for the next start bit.


3. How Does Communication Occur Between Transmitter and Receiver in UART?
UART operates without a clock signal, relying on a predefined baud rate for synchronization.
The transmitter serializes parallel data and appends a start bit, optional parity bit, and stop bit to create a complete data frame.
The frame is transmitted bit by bit over the TX line.
The receiver detects the start bit to synchronize with the incoming frame.
It sequentially reads the data bits, checks parity for errors (if enabled), and identifies the stop bit.
The receiver then reconstructs the original parallel data by stripping the additional bits.
